<div class="container mt-5 ">

 
<!-- Pestañas -->
<!-- Pestañas -->
<div class="container mt-4">
  <div class="pestañas">
    <ul class="nav nav-pills nav-fill custom-tabs" id="myTab" role="tablist">
      <li class="nav-item position-relative" role="presentation">
        <button class="nav-link active" id="preguntas-tab" data-bs-toggle="tab" data-bs-target="#preguntas" type="button" role="tab" aria-controls="preguntas" aria-selected="true">
          📝 Preguntas
        </button>
      </li>
      <li class="nav-item position-relative" role="presentation">
        <button class="nav-link" id="sugeridas-tab" data-bs-toggle="tab" data-bs-target="#sugeridas" type="button" role="tab" aria-controls="sugeridas" aria-selected="false">
          💡 Sugeridas
        </button>
        <!-- Indicador de notificación -->
        <span class="badge rounded-pill bg-danger position-absolute top-0 start-0 translate-middle" id="sugeridas-badge">
          {{cantidadSug}}
        </span>
      </li>
      <li class="nav-item position-relative" role="presentation">
        <button class="nav-link" id="reportadas-tab" data-bs-toggle="tab" data-bs-target="#reportadas" type="button" role="tab" aria-controls="reportadas" aria-selected="false">
          🚨 Reportadas
        </button>
        <!-- Indicador de notificación -->
        <span class="badge rounded-pill bg-danger position-absolute top-0 start-0 translate-middle" id="reportadas-badge">
          {{cantidadReport}}
        </span>
      </li>
    </ul>
  </div>
</div>




    <!-- Contenido de las pestañas -->
    <div class="tab-content" style="margin-top:15px;" id="myTabContent">
        <!-- Pestaña de Preguntas -->
        <div class="tab-pane fade show active" id="preguntas" role="tabpanel" aria-labelledby="preguntas-tab">
            {{#editorPreguntas}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{pregunta}}</h5>
                        <p class="card-text"><strong>Estado:</strong>  {{#estado}}Habilitado{{/estado}}  {{^estado}}Deshabilitado{{/estado}}</p>
                        <p class="card-text"><strong>Opciones:</strong> <br> {{#opciones}} {{texto}} <br> {{/opciones}}</p>
                        <p class="car-text"><strong>Categoria:</strong> {{categoria}}</p>
                        <p class="card-text"><strong>Correcta:</strong> {{es_correcta}}</p>
                        <div class="d-flex justify-content-end gap-2">
                            <form action="/quizgame/editor/alterarPregunta" method="POST" style="display: inline;">
                                <input type="hidden" name="pregunta" value="{{id}}">

                                <button type="submit" class="btn btn-secondary btn-sm">{{#estado}}Desactivar{{/estado}}  {{^estado}}Activar{{/estado}}</button>
                            </form>
                              <form action="/quizgame/editor/eliminarPregunta" method="POST" style="display: inline;">
                                <input type="hidden" name="pregunta" value="{{id}}">

                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#reportModal-{{id}}">
                                Modificar
                            </button>
                        </div>
                    </div>
                </div>
             
                <!-- Modal para modificar la pregunta -->
                <div class="modal fade" id="reportModal-{{id}}" tabindex="-1" aria-labelledby="reportModalLabel-{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reportModalLabel">Modificar Pregunta</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/quizgame/editor/modificarPregunta" method="POST">
                                    <div class="mb-3">
                                        <label for="pregunta" class="form-label">Pregunta</label>
                                        <input type="text" name="preguntaModificada" class="form-control" value="{{pregunta}}" required>
                                    </div>
                                        {{#opciones}}
                                            <label class="form-label">Opciones:</label>
                                            <div class="mb-3">
                                                <input type="text" name="opciones[]" class="form-control mb-2" value="{{texto}}" required>
                                                <label>
                                                    <input type="radio" name="es_correcta" value="{{index}}">
                                                    Correcta
                                                </label>
                                            </div>
                                        {{/opciones}}
                                        <div>
                                            <h5 class="modal-title sugerencia" id="reportModalLabel">Categoria</h5>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="1"> Geografia
                                            </label>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="2"> Historia
                                            </label>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="3"> Ciencia
                                            </label>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="4"> Deporte
                                            </label>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="5"> Arte
                                            </label>
                                        </div>

                                    <input type="hidden" name="preguntaId" value="{{id}}">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger">Modificar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/editorPreguntas}}
        </div>
        <!-- Pestaña de Sugeridas -->
  <div class="tab-content">
    <div class="tab-pane fade" id="sugeridas" role="tabpanel" aria-labelledby="sugeridas-tab">
        {{#sugeridas}}
       <div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{pregunta}}</h5>
        <p class="card-text"><strong>Estado:</strong> {{#estado}}Habilitado{{/estado}} {{^estado}}Deshabilitado{{/estado}}</p>
        <p class="card-text"><strong>Opciones:</strong> <br> {{#opciones}} {{.}} <br> {{/opciones}}</p>
        <p class="card-text"><strong>Categoría:</strong> {{categoria}}</p>
        <p class="card-text"><strong>Correcta:</strong> {{es_correcta}}</p>

      <div class="d-flex justify-content-between align-items-start gap-2">
    <form action="/quizgame/editor/verificacion" method="POST" class="w-100 d-flex">
        <input type="hidden" name="pregunta" value="{{id}}">

        <!-- Contenedor del textarea -->
        <div class="w-75 me-auto">
            <textarea class="form-control" name="comentario" rows="3" placeholder="mensaje para {{usuario}} (opcional)"></textarea>
        </div>

        <!-- Contenedor del botón -->
        <div style="padding-top: 40px; padding-left: 5px">
        <div class="mt-3" style=" display: flex; gap: 10px;">
            <input type="hidden" name="tipo" value="Sugerencia">
            <input type="hidden" name="usuario" value="{{usuario}}">
            <input type="hidden" name="idUsuario" value="{{idUsuario}}">

                <button type="submit" name="accion" value="aprobada" class="btn btn-success btn-sm">Aprobar</button>
                <button type="submit" name="accion" value="rechazada" class="btn btn-danger btn-sm">Rechazar</button>

        </div>
        </div>
    </form>
</div>

    </div>
</div>

        {{/sugeridas}}
    </div>
</div>

      
        <div class="tab-pane fade" id="reportadas" role="tabpanel" aria-labelledby="reportadas-tab">
            {{#reportadas}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{pregunta}}</h5>
                        <p class="card-text"><strong>Estado:</strong> {{#estado}}Habilitado{{/estado}}  {{^estado}}Deshabilitado{{/estado}}</p>
                        <p class="card-text"><strong>Motivo:</strong> {{detalleReporte}}</p>
                        <p class="card-text"><strong>Correcta:</strong> {{es_correcta}}</p>
                       <div class="d-flex justify-content-between align-items-start gap-2">
    <form action="/quizgame/editor/verificacion" method="POST" class="d-flex w-100">
        <input type="hidden" name="pregunta" value="{{idPreg}}">

   
        <div class="w-75">
            <textarea class="form-control" name="comentario" rows="3" placeholder="mensaje para {{usuario}} (opcional)"></textarea>
        </div>

        <!-- Contenedor de botones a la derecha -->
        <div class="d-flex align-items-start gap-2 mt-5">
            <input type="hidden" name="tipo" value="Reporte">
            <input type="hidden" name="usuario" value="{{usuario}}">
            <input type="hidden" name="idUsuario" value="{{idUsuario}}">
            <button type="submit" name="accion" value="aprobado" class="btn btn-success btn-sm">Aprobar</button>
            <button type="submit" name="accion" value="rechazado" class="btn btn-danger btn-sm">Rechazar</button>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#reportModale-{{idPreg}}">Modificar</button>
        </div>
    </form>
</div>

                    </div>
                </div>
                <div class="modal fade" id="reportModale-{{idPreg}}" tabindex="-1" aria-labelledby="reportModalLabele-{{idPreg}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reportModaleLabel">Modificar Pregunta</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/quizgame/editor/modificarPregunta" method="POST">
                                    <div class="mb-3">
                                        <label for="pregunta" class="form-label">Pregunta</label>
                                        <input type="text" name="preguntaModificada" class="form-control" value="{{pregunta}}" required>
                                    </div>
                                        {{#opciones}}
                                            <label class="form-label">Opciones:</label>
                                            <div class="mb-3">
                                                <input type="text" name="opciones[]" class="form-control mb-2" value="{{texto}}" required>
                                                <label>
                                                    <input type="radio" name="es_correcta" value="{{index}}">
                                                    Correcta
                                                </label>
                                            </div>
                                        {{/opciones}}
                                        

                                    <input type="hidden" name="preguntaId" value="{{idPreg}}">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger">Modificar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/reportadas}}
        </div>
    </div>
</div>
<div class="modal fade" id="nueva-pregunta" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reportModalLabel">Nueva pregunta</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/quizgame/editor/nuevaPregunta" method="POST">
                                    <div class="mb-3">
                                        <label for="pregunta" class="form-label">Pregunta</label>
                                        <input type="text" name="pregunta" class="form-control" required>
                                    </div>
                                       
                                            <label class="form-label">Opciones:</label>
                                            <div class="mb-3">
                                                <input type="text" name="opciones[]" class="form-control mb-2" required>
                                                  <label>
                                                    <input type="radio" name="es_correcta" value="0">
                                                    Correcta
                                                </label>
                                                  <input type="text" name="opciones[]" class="form-control mb-2" required>
                                                    <label>
                                                    <input type="radio" name="es_correcta" value="1">
                                                    Correcta
                                                </label>
                                                  <input type="text" name="opciones[]" class="form-control mb-2" required>
                                                    <label>
                                                    <input type="radio" name="es_correcta" value="2">
                                                    Correcta
                                                </label>
                                                  <input type="text" name="opciones[]" class="form-control mb-2" required>
                                                <label>
                                                    <input type="radio" name="es_correcta" value="3">
                                                    Correcta
                                                </label>
                                            </div>

                                            <div>
                                            <h5 class="modal-title sugerencia" id="reportModalLabel">Categoria</h5>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="1" required> Geografia
                                            </label>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="2" required> Historia
                                            </label>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="3" required> Ciencia
                                            </label>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="4" required> Deporte
                                            </label>
                                            <label class="mb-2 d-block">
                                                <input type="radio" name="categoria" value="5" required> Arte
                                            </label>
                                        </div>
                      
                                       
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger">Crear</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>



