<footer class="d-flex flex-wrap justify-content-between align-items-center py-4 px-3 footer-custom">
    <div class="col-md-2 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-white">© 2024</span>
    </div>
    <div class="d-flex flex-nowrap align-items-center">
        <span class="text-white me-2" style="font-weight: bold;">Integrantes:</span>
        <ul class="d-flex list-unstyled mb-0">
            <li class="me-2 text-white">Lautaro Gerez,</li>
            <li class="me-2 text-white">Jonathan Rugna,</li>
            <li class="text-white">Nahuel Biondo</li>
        </ul>
    </div>
    <div class="col-md-2 justify-content-end d-flex">
        <a class="text-muted" href="https://github.com/lautigrz/QuizGame" target="_blank">
            <img class="bi" width="34" height="34" src="https://miro.medium.com/v2/resize:fit:512/0*kKP65boCBWZURJJG.png" alt="github">
        </a>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>

</body>
</html>
